.header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.busineTitle {
  color: rgb(255, 83, 83);
  text-align: center;

}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: inherit;
  padding: 0 .5rem;
  gap: 1rem;
}

.user_email {
  font-size: large;
  color: rgb(117, 117, 117);
  font-weight: 600;
}

.userActions {
  display: flex;
  gap: 1rem;
  padding: .5rem;
}

button.logout,
button.clearStats {
  border: none;
  border-radius: .33rem;
  font-size: clamp(.9rem, 2.5vw, 1.2rem);
  background-color: transparent;
}

button.logout {
  color: gray
}

button.clearStats {
  color: rgb(255, 83, 83);
}

@media screen and (width>768px) {
  .header {
    flex-direction: row;
    width: 100%;
  }

  .busineTitle {
    font-size: 2.2rem;
  }

}