.header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.busineTitle {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 2rem;

}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: inherit;
  gap: 1rem;
}

.user_email {
  font-size: large;
  color: rgb(117, 117, 117);
  font-weight: 600;
}

.userActions {
  display: flex;
  gap: 1rem;
}

button.logout,
button.clearStats {
  border: none;
  border-radius: .33rem;
  font-size: clamp(.9rem, 2.5vw, 1.2rem);
  background-color: transparent;
}

button.logout {
  color: gray
}

button.clearStats {
  color: darkred;
}

@media screen and (width>768px) {
  .header {
    flex-direction: row;
  }
}