.campo {
  display: grid;
  width: 100svw;
  height: 100svh;
}

.absolute {
  position: fixed;
  top: 20px;

  overflow: clip scroll;
  display: grid;
  justify-content: end;
  left: 0;
  z-index: 60;
  color: black;
}

/* img.marcas {
  object-fit: cover;

}

@media screen and (width>786px) {
  img.marcas {
    object-fit: contain;
  }
} */