@import url(./normalize.css);
@import url(./fonts.css);


:root {
  font-family: "Sarabun", serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5;
  color-scheme: light dark;
  font-size: clamp(.9rem, 2.5vw, 1.1rem);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-busine-title: snow;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden auto;
}
#root {
  background-color: #353d47;
  color: rgba(255, 255, 255, 0.87);
}
h1 {
  font-family: "Prompt", serif;
  font-weight: 900;
  font-style: normal;
}

@media (max-width: 768px) {}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  a.email {
    color: snow;
  }

  button {
    background-color: #f9f9f9;
  }
}