.image,
.imageStat {
  width: 96px;
  height: 96px;
  object-fit: contain;
  object-position: center;
  padding: 0;
  margin: 0;
  transition: scale 200ms ease-in-out;
}

.imageStat {
  width: 32px;
  height: 32px;
}

.image_down {
  width: 64px;
  height: 64px;
  object-fit: contain;
  object-position: center;
  padding: 0;
  margin: 0;
  transition: scale 200ms ease-in-out;
}

.image:active,
.image:focus {
  transform: scale(0.9);
}

.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0;
  margin: 0;
  overflow: clip;
}

.btn {
  display: inline-flex;
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  padding: 0;
  margin: 0;
  background-color: transparent;

  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    padding: 0;
    margin: 0;
    transition: scale 200ms ease-in-out;
  }
}