.thead {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 2rem 0 0 0;
  border-bottom: 1px solid gray;
  padding: 2rem 0;
}

.tr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .33rem;
}

.title {
  font-size: 1.5rem;
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 1.3rem;
}

.titlExtra {
  font-size: 1.4rem;
}

.tbody {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding: 1rem 0;
}

.stat_control {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.stat_button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 1px solid silver;
  color: snow;
}

.subtract_stat {
  background-color: rgb(255, 83, 83);
}

.add_stat {
  background-color: rgb(122, 249, 83);
}

.stat_value {
  font-weight: 900;
  font-size: x-large;
}

.stat {
  text-transform: uppercase;
  font-size: small;
}

.nameTeam {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.goal {
  color: #184180;
  text-align: center;
  font-size: 4rem;
  font-family: "Prompt", serif;
  font-weight: 900;
  font-style: normal;
  background-color: rgb(249, 255, 232);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 80px;
  height: 80px;
  border: 2px solid rgba(134, 201, 134, 0.295);
  border-radius: .33rem;
}