.center {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: auto 1fr;

  height: 100dvh;
}

.header {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: 'Times New Roman', Times, serif;
  color: red;
  font-size: clamp(1.9rem, 2.5vw, 2rem);
  text-transform: uppercase;
}

.article {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form.login {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

form.login>input {
  padding: .5rem 1rem;
  border-radius: .33rem;
  border: 1px solid gray;
  font-size: clamp(1.3rem, 2.5vw, 1rem);
}

aside {
  display: flex;
  justify-content: end;
}

button.submit {
  padding: .5rem 1rem;
  border-radius: .33rem;
  border: 1px solid gray;
  background: rgb(255, 83, 83);
  color: white;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.info>address {
  font-weight: 600;
  padding: 2rem;
  font-size: .9rem;
  display: inline-flex;
  align-items: center;
  gap: 2rem;
}

@media screen and (width> 768px) {
  .info>address {

    font-size: 1.4rem;

  }
}