.lang {
  display: inline-flex;
  gap: 1rem;
}

.label {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
  font-size: small;
}

.strong {
  font-weight: 900;
}

.select {
  border: 1px solid black;
  border-radius: 4px;
  padding: 0.33rem 0.5rem;
  font-size: large;
}
