.lang {
  display: inline-flex;
  gap: 1rem;
}

.label {
  display: inline-flex;
  align-items: center;
  padding-left: 1rem;
  font-size: small;
}

.select {
  border: 1px solid black;
  border-radius: 4px;
  padding: .33rem;
  font-size: small;
}